.quote-box {
  border-radius:3px;
  position:relative;
  margin:8% auto auto auto;
  width:450px;
  padding:40px 50px;
  display:table;
  background-color:#fff;
  text-align: center;
}

  body {
  	background-color: #C8DBED;
  }

 #quote {
 	padding-bottom: 25px;
 }

 .btn {
 	margin-bottom: 50px;
 }

 .header {
 	text-align: center;
 	padding-top: 75px;
 	font-family: 'Shrikhand', cursive;
 	font-size: 75px;
 }

 footer {
 	text-align: center;
 	padding-top: 50px;
 }